.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0s, opacity 0.5s;
}


.close:hover {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    pointer-events: auto;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in .modal-window {
    transform: translateY(0px);
    transition: transform 0.5s ease-out;
}

.fade-out .modal-window {
    transform: translateY(-200px);
    transition: transform 0.5s ease-out;
}

.modalBtnFirst {
    margin: 0 5px 25px;
    padding: 10px 25px;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #b3382c;
}

.modalBtnSecond {
    margin: 0 5px 25px;
    padding: 10px 25px;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #1a656d;
}